.tweet {
	position: relative;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-around;

		svg {
			&:hover {
				cursor: pointer;
				fill: #f00;
			}
		}

		h5 {
			margin: 0;
		}
	}
}
